{% extends "base.html" %}

{% block content %}

    <!-- Featured Posts -->
    <h3 class="text-uppercase text-warning" style="letter_spacing: 2px">Search Term - {{Keyword}}</h3>
  {% if blogs %}
  <div class="row mb-2">
    {% for blog in blogs%}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blogs' blog.slug %}" class = text-dark>{{blog.title}}</a></h3>
          <small class="mb-1 text-muted">{{blog.created_at | timesince}} ago | {{ blog.author}}</small>
          <p class="card-text">{{blog.short_description | truncatewords:30}}</p>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  {% else %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
            <p class="card-text">No Post with the {{Keyword}}</p>
          <h3><a href="{% url 'home' %}" class = text-dark>Return to Home...</a></h3>
        </div>
      </div>
    </div>
  {%endif%}

{% endblock content %}